# CORS options - allow all origins (can be called from any domain)
Header Set Access-Control-Allow-Origin "*"
# To restrict to specific headers, use:
# Header set Access-Control-Allow-Methods "POST GET PUT DELETE"

# display errors on for debugging purposes
php_flag display_errors on

# enable mod_rewrite for friendly URLs (e.g. tasks/1 instead of controller/task.php?taskid=1)
RewriteEngine On

# don't rewrite if it's a directory (folder) or file
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f

# rewrite all other URLs to controller/quiz.php to quiz/id
RewriteRule ^quiz/([0-9]+)$ controller/quiz.php?quizid=$1 [L]

# get all tasks
# todo: find a way to add sortby and order when retrieving all tasks
RewriteRule ^quizzes$ controller/quiz.php [L]

# [L] = Last Rule - stop processing if this rule matches
# [QSA] = Query String Append - keep the query string when rewriting
# ^ = start of string
# $ = end of string